/* ------------------------------------------------------ */

p {
	margin: 0px;
	padding: 0px;
	line-height: 22px;
	font-weight: 400;
}
.reference a {
	background: #8787ff85;
	display: inline-flex;
	padding: 10px 30px;
	color: white;
	border-radius: 100px;
}
.container-updates p:not(:first-child) {
	margin-top: 10px;
}
.container-updates {
	font-size: 14px;
	margin: 0 auto;
	max-width: 400px;
	position: relative;
	top: 0px;
}
.banner {
	border: solid 1px rgb(255, 255, 255) !important;
}
.container-updates .banner {
	display: inline;
	position: absolute;
	color: rgb(255, 255, 255);
	line-height: 14px;
	padding: 8px 20px;
	border-radius: 100px;
	background-color: #000000d3;
	z-index: 100;
	top: -15px;
	left: 10px;
}
.placeholder-1 {
	position: relative;
	transform-origin: 50% 100%;
}
.container-updates ul {
	position: relative;
	list-style: none;
}
.container-updates ul li {
	padding: 35px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	transform-origin: 50% 100%;
	border-radius: 4px;
}
.container-updates ul li .date {
	margin-left: 10px;
	color: #c9d8eb;
}
.tab-0 {
	transform: translateY(-50px) scale(1.07);
	opacity: 0 !important;
	z-index: 90;
	filter: blur(10px);
	transition: all 1s cubic-bezier(0.19, 0.49, 0.46, 0.96);
}
.tab-1 {
	opcaity: 1 !important;
	background-color: rgba(0, 0, 0, 0.774);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.021), 0 5px 15px rgba(0, 0, 0, 0.07);
	z-index: 80;
	transform: scale(1);
	transition: all 1s cubic-bezier(0.19, 0.49, 0.46, 0.96) 100ms;
}
.tab-2 {
	transform: translateY(5px) scale(0.9);
	opacity: 1 !important;
	z-index: 70;
	background: #0000005e;
	color: #00000002;
	transition: all 1s cubic-bezier(0.19, 0.49, 0.46, 0.96) 200ms;
}
.tab-3 {
	transform: translateY(55px) scale(0.8);
	opacity: 0.5 !important;
	z-index: 60;
	background: #00000038;
	color: #00000041;
	transition: all 1s cubic-bezier(0.19, 0.49, 0.46, 0.96) 300ms;
}
.tab-4 {
	transform: translateY(50px) scale(0.7);
	opacity: 0 !important;
	z-index: 50;
	background: rgb(150, 150, 150);
	color: grey;
	transition: all 1s cubic-bezier(0.19, 0.49, 0.46, 0.96) 400ms;
}
/* ------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------ */

/* display the wrapping container in the top right corner of the viewport */

.notification {
	position: fixed;
	top: 3.5rem;
	right: 2.5rem;
	/* align the content to the rigth */
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	color: hsl(0, 0%, 100%);
	/* hide the overflow to conceal the message when translated to the right of the container */
	overflow-x: hidden;
	/* padding to avoid cropping the box-shadow on the message */
	padding: 0.25rem;
}
/* reduce the size of the icon and give a white fill to the elements of the graphic */

.notification__bell {
	display: block;
	width: 28px;
	height: auto;
	fill: rgba(255, 255, 255, 0.507)
}
.bell__body {
	fill: hsl(0, 0%, 100%);
}
.bell__clapper {
	fill: hsla(0, 0%, 0%, 0);
}
/* when the .notification container is given a class of .received animate the body and clapper of the bell to swing
! animate the clapper with a slight delay as to follow through the animation of the main body
*/

.notification.received .bell__body {
	animation: swingBody 0.7s 0.02s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.notification.received .bell__clapper {
	animation: swingClapper 0.7s 0.04s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/* ! for both elements the rotation occurs using the parent group element as a hinge, allowing for the pendulum-like swing */

@keyframes swingBody {
	25% {
		transform: rotate(-5deg);
	}
	75% {
		transform: rotate(5deg);
	}
}
/* animation for the clapper, following the main body and with a larger rotation */

@keyframes swingClapper {
	5% {
		transform: rotate(0deg);
	}
	30% {
		transform: rotate(-8deg);
	}
	80% {
		transform: rotate(8deg);
	}
}
/* style the content of the message to show a grid with the dismiss button in the top right corner
|h1  |  button |
|p   |p        |
*/

.notification__message {
	display: grid;
	grid-gap: 0.2rem;
	grid-template-columns: 1fr auto;
	padding: 0.5rem 1rem;
	margin: 1rem 0;
	/* style the div as a rounded rectangle with a border on the left segment */
	background: hsla(0, 0%, 0%, 0.226) !important;
	border-radius: 10px;
	box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1), 0 2px 3px hsla(0, 0%, 0%, 0);
	border-left: 0.5rem solid hsl(0, 0%, 100%);
	/* by default hide the element from sight and include a transition for the chosen properties */
	transform: translateX(100%);
	opacity: 0;
	visibility: hidden;
	transition-property: transform, opacity, visibility;
	transition-duration: 0.7s;
	transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.notification__message h1 {
	font-size: 1.1rem;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
}
.notification__message p {
	max-width: 320px;
	font-size: 0.8rem;
	grid-column: 1/-1;
	color: #ffffffc0;
}
.notification__message button {
	background: none;
	border: none;
	color: inherit;
	width: 25px;
	height: 25px;
	grid-column: 2/3;
	grid-row: 1/2;
	align-self: center;
}
.notification__message button svg {
	display: block;
	width: 100%;
	height: 100%;
}
/* when the .notification container has a class of .received transition the message into view */

.notification.received .notification__message {
	transform: translateX(0%);
	opacity: 1;
	visibility: visible;
}
/* change the border color according to the different modifiers
! for each modifier specify also an svg icon in the background, to highlight the message
*/

.message--info {
	border-left-color: #90dfe9a6;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle stroke="none" fill="%2390dee9" cx="50" cy="22" r="8"></circle><path fill="none" stroke="%2390dee9" stroke-width="12" stroke-linejoin="round" stroke-linecap="round" d="M 45 40 h 5 v 40 h -5 h 10"></path></svg>'), hsl(0, 0%, 100%);
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: 100% 100%;
}
.message--success {
	border-left-color: hsla(120, 67%, 74%, 0.575);
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path fill="none" stroke="%2390e990" stroke-width="12" stroke-linejoin="round" stroke-linecap="round" d="M 20 52 l 25 25 l 30 -50"></path></svg>'), hsl(0, 0%, 100%);
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: 100% 100%;
}
.message--warning {
	border-left-color: hsla(54, 67%, 74%, 0.61);
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path fill="none" stroke="%23e9e090" stroke-width="12" stroke-linejoin="round" stroke-linecap="round" d="M 50 18 v 40"></path><circle stroke="none" fill="%23e9e090" cx="50" cy="78" r="8"></circle></svg>'), hsl(0, 0%, 100%);
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: 100% 100%;
}
.message--danger {
	border-left-color: hsla(0, 67%, 74%, 0.658);
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g transform="translate(50 50) rotate(45)"><path fill="none" stroke="%23e99090" stroke-width="12" stroke-linejoin="round" stroke-linecap="round" d="M 0 -30 v 60 z M -30 0 h 60"></path></g></svg>'), hsl(0, 0%, 100%);
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: 100% 100%;
}