@font-face {
  font-family: "gilroy-light";
  src: url("./gilroy-light.otf") format("opentype");
}

@font-face {
  font-family: "gilroy-extrabold";
  font-weight: bold;
  src: url("./gilroy-extrabold.otf") format("opentype");
}
